<div class="container">
    <div class="row">
        <!-- 
            Loop through the data in list.yml and display each one as a card.
            There are 3 columns in the grid. Cards can be 1, 2, or 3 columns wide.
            Cards can also be "short" or "tall". Tall cards include text. Short cards are just an image.
        -->
        {% for item in site.data.list %}

        {% if item.width == 2 %}
            {% assign columns = "col-6 col-md-2" %}
        {% elsif item.width == 3 %}
            {% assign columns = "col-6 col-md-3" %}
        {% elsif item.width == 4 %}
            {% assign columns = "col-6 col-md-6" %}
        {% elsif item.width == "full" %}
            {% assign columns = "col-12" %}
        {% endif %}

        <div class="ad-card {{ columns }}">
            <div class="card">
                <a href="{{ item.url }}"><img src="/images/client/{{ item.image }}" class="card-img-top" alt="{{ item.name }}"></a>
                {% if item.height == "tall" %}
                <div class="card-body">
                    <p class="card-text">{{ item.text }}</p>
                </div>
                {% endif %}
                <div class="card-footer">
                    <small class="text-muted"><a href="{{ item.link }}">{{ item.deal | default: 'Mention BCD for discount' }}</a></small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>